.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fc0b0b;
  padding: 10px;
  font-family: 'Avengeance', sans-serif;

}

.logo-container, .buttons-container, .login-container {
  flex: 1;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.buttons-container {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.login-container {
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: 50px;
}

a[mat-button].active {
  color: white;
}

a[mat-button] {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
}
